<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Employee" type="organizational.model.Employee"/>
        <typeAlias alias="Department" type="organizational.model.Department"/>
        <typeAlias type="organizational.model.Post" alias="Post"/>
        <typeAlias type="organizational.model.Event" alias="Event"/>
    </typeAliases>

    <mappers>
        <mapper resource="organizational/resources/mapper/Employee.xml"/>
        <mapper resource="organizational/resources/mapper/Department.xml"/>
        <mapper resource="organizational/resources/mapper/Post.xml"/>
        <mapper resource="organizational/resources/mapper/Event.xml"/>
    </mappers>
</configuration>